# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore logs
*.log
logs/

# Ignore Terraform state and provider files
.terraform/
terraform.tfstate
terraform.tfstate.backup

# Ignore secrets and credentials
.env
*.pem
.aws/
