# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore logs
*.log
logs/

# Ignore Terraform local state files
terraform.tfstate
terraform.tfstate.backup
.terraform/

# Ignore secrets and credentials
.env
*.pem
.aws/
